@{
    ViewBag.Title = "404";
}
<div class="content">
    <div class="md1200">
        <div class="errorbox">
            <img src="@Url.Content("~/Assets/web/images/404.png")">
            <p>糟糕，页面加载错误!</p>
            <a href="@Url.Content("~/Home/Index")" class="BlackIcon">返回主页</a>
        </div>
    </div>
</div>
