
@{
    ViewBag.Title = "优惠券";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link rel="stylesheet" href="~/Assets/web/css/personal.css">
}
<div class="rtcon rtcoupon">
    <div class="title">优惠券</div>
    <div class="tabbox">
        <ul class="tablist">
            <li class="active">未使用</li>
            <li>已使用</li>
            <li>已过期</li>
        </ul>
    </div>
    <div class="couponcon">
        <!-- 未使用 -->
        <div class="couponbox wcouponbox active">
            <ul class="couponlist">
                <li>
                    <div class="info">
                        <span class="price">￥20.00</span>
                        <span class="type">满减券</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn lksybtn">立刻使用</a>
                </li>
                <li>
                    <div class="info">
                        <span class="price">￥20.00</span>
                        <span class="type">满减券</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn lksybtn">立刻使用</a>
                </li>
                <li>
                    <div class="info">
                        <span class="price">￥20.00</span>
                        <span class="type">满减券</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn lksybtn">立刻使用</a>
                </li>
                <li>
                    <div class="info">
                        <span class="price">￥20.00</span>
                        <span class="type">满减券</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn lksybtn">立刻使用</a>
                </li>
            </ul>
            <!-- 分页 -->
            <div class="pagebox">
                <span class="total">共<span class="num">33</span>条信息</span>
                <a href="javascript:;" class="btn prevbtn">上一页</a>
                <a href="javascript:;" class="num">1</a>
                <a href="javascript:;" class="num">2</a>
                <a href="javascript:;" class="btn nextbtn">下一页</a>
            </div>
        </div>

        <!-- 已使用 -->
        <div class="couponbox ycouponbox">
            <ul class="couponlist">
                <li>
                    <div class="info">
                        <span class="price">￥20.00满减卷</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn ysybtn">已使用</a>
                </li>
                <li>
                    <div class="info">
                        <span class="price">￥20.00满减卷</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn ysybtn">已使用</a>
                </li>
                <li>
                    <div class="info">
                        <span class="price">￥20.00满减卷</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn ysybtn">已使用</a>
                </li>
                <li>
                    <div class="info">
                        <span class="price">￥20.00满减卷</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn ysybtn">已使用</a>
                </li>
            </ul>
            <!-- 分页 -->
            <div class="pagebox">
                <span class="total">共<span class="num">33</span>条信息</span>
                <a href="javascript:;" class="btn prevbtn">上一页</a>
                <a href="javascript:;" class="num">1</a>
                <a href="javascript:;" class="num">2</a>
                <a href="javascript:;" class="btn nextbtn">下一页</a>
            </div>
        </div>

        <!-- 已过期 -->
        <div class="couponbox gcouponbox">
            <ul class="couponlist gcouponlist">
                <li>
                    <div class="info">
                        <span class="price">￥20.00满减卷</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn ygqbtn">已过期</a>
                </li>
                <li>
                    <div class="info">
                        <span class="price">￥20.00满减卷</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn ygqbtn">已过期</a>
                </li>
                <li>
                    <div class="info">
                        <span class="price">￥20.00满减卷</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn ygqbtn">已过期</a>
                </li>
                <li>
                    <div class="info">
                        <span class="price">￥20.00满减卷</span>
                    </div>
                    <div class="discount">满￥990立减￥20</div>
                    <div class="syfw">使用范围：全场商品通用 </div>
                    <div class="syqx">使用期限：2020-10-10-2021-10-10</div>
                    <a href="javascript:;" class="btn ygqbtn">已过期</a>
                </li>
            </ul>
            <!-- 分页 -->
            <div class="pagebox">
                <span class="total">共<span class="num">33</span>条信息</span>
                <a href="javascript:;" class="btn prevbtn">上一页</a>
                <a href="javascript:;" class="num">1</a>
                <a href="javascript:;" class="num">2</a>
                <a href="javascript:;" class="btn nextbtn">下一页</a>
            </div>
        </div>
    </div>
</div>

