@{
    ViewBag.Title = "我的邀请";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link rel="stylesheet" href="~/Assets/web/css/personal.css">
}
<div class="rtcon rtinvite">
    <div class="title">我的邀请</div>
    <div class="invitenum">
        <dl>
            <dt>
                <img src="~/images/icon_yq.png"/>
            </dt>
            <dd>
                <div class="num">8</div>
                <div class="word">邀请人数</div>
            </dd>
        </dl>
        <dl>
            <dt><img src="~/images/icon_xf.png"></dt>
            <dd>
                <div class="num">3</div>
                <div class="word">已消费人数</div>
            </dd>
        </dl>
        <dl>
            <dt><img src="~/images/icon_yhq.png"></dt>
            <dd>
                <div class="num">3</div>
                <div class="word">优惠券奖励</div>
            </dd>
        </dl>
    </div>
    <div class="title yqtitle">邀请明细</div>
    <div class="invitecon">
        <div class="tablebox invitetable">
            <ul class="ptitlist">
                <li class="username"><span class="name">被邀请用户</span></li>
                <li class="regtime">注册时间</li>
                <li class="xftime">首次消费时间</li>
                <li class="userjl">被邀请者奖励</li>
                <li class="yjl">您的奖励</li>
            </ul>
            <ul class="ptablist">
                <li>
                    <div class="ptabli username"><span class="name">李晓明</span></div>
                    <div class="ptabli regtime">2020-09-07</div>
                    <div class="ptabli xftime">2020-09-07</div>
                    <div class="ptabli userjl">50%折扣卷</div>
                    <div class="ptabli yjl">50%折扣卷</div>
                </li>
                <li>
                    <div class="ptabli username"><span class="name">李晓明</span></div>
                    <div class="ptabli regtime">2020-09-07</div>
                    <div class="ptabli xftime">2020-09-07</div>
                    <div class="ptabli userjl">50%折扣卷</div>
                    <div class="ptabli yjl">50%折扣卷</div>
                </li>
                <li>
                    <div class="ptabli username"><span class="name">李晓明</span></div>
                    <div class="ptabli regtime">2020-09-07</div>
                    <div class="ptabli xftime">2020-09-07</div>
                    <div class="ptabli userjl">50%折扣卷</div>
                    <div class="ptabli yjl">50%折扣卷</div>
                </li>
                <li>
                    <div class="ptabli username"><span class="name">李晓明</span></div>
                    <div class="ptabli regtime">2020-09-07</div>
                    <div class="ptabli xftime">2020-09-07</div>
                    <div class="ptabli userjl">50%折扣卷</div>
                    <div class="ptabli yjl">50%折扣卷</div>
                </li>
                <li>
                    <div class="ptabli username"><span class="name">李晓明</span></div>
                    <div class="ptabli regtime">2020-09-07</div>
                    <div class="ptabli xftime">2020-09-07</div>
                    <div class="ptabli userjl">50%折扣卷</div>
                    <div class="ptabli yjl">50%折扣卷</div>
                </li>
            </ul>
        </div>
        <!-- 分页 -->
        <div class="pagebox">
            <span class="total">共<span class="num">33</span>条信息</span>
            <a href="javascript:;" class="btn prevbtn">上一页</a>
            <a href="javascript:;" class="num">1</a>
            <a href="javascript:;" class="num">2</a>
            <a href="javascript:;" class="btn nextbtn">下一页</a>
        </div>
    </div>

</div>
