
@{
    ViewBag.Title = "MyLogistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link rel="stylesheet" href="~/Assets/web/css/personal.css">
}
<div class="personalcon">
    <div class="md1200">
        <div class="breadnav"><a href="javascript:;">我的订单</a><span>&gt;</span><a href="javascript:;">订单详情</a><span>&gt;</span><a href="javascript:;">物流信息</a></div>
        <div class="ddxxcon logisticscon">
            <div class="logisticsinfo">
                <ul class="titlist">
                    <li class="active">包裹1</li>
                    <li class="">包裹2</li>
                </ul>
                <div class="logisticsbox active">
                    <p><span class="name">货物单号：</span>EXE8930077</p>
                    <p><span class="name">快递公司：</span>EXE全球快递</p>
                    <p><span class="name">货物单号：</span>2020-09-08 12 : 09 : 08</p>
                </div>
                <div class="logisticsbox">
                    <p><span class="name">货物单号：</span>EXE8930088</p>
                    <p><span class="name">快递公司：</span>EXE全球快递</p>
                    <p><span class="name">货物单号：</span>2020-09-08 12 : 09 : 08</p>
                </div>
            </div>
            <div class="trackbox">
                <div class="title">物流跟踪信息</div>
                <div class="trackcon">
                    <div class="trackleft">
                        <dl class="end">
                            <dt>2020-09-08 12 : 09 : 08</dt>
                            <dd class="line"><span class="spot"></span></dd>
                            <dd class="info">
                                <p class="state">已签收</p>
                                <p>客户签收：本人</p>
                                <p>快件已到达南京市定淮门</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>2020-09-08 12 : 09 : 08</dt>
                            <dd class="line"><span class="spot"></span></dd>
                            <dd class="info">
                                <p>【无锡】快件离开安徽中转部已发往无锡</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>2020-09-08 12 : 09 : 08</dt>
                            <dd class="line"><span class="spot"></span></dd>
                            <dd class="info">
                                <p>【无锡】快件已到达无锡中转部</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>2020-09-08 12 : 09 : 08</dt>
                            <dd class="line"><span class="spot"></span></dd>
                            <dd class="info">
                                <p>【惠州】惠州大湖的李某某[6868228091]已揽收</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>2020-09-08 12 : 09 : 08</dt>
                            <dd class="line"><span class="spot"></span></dd>
                            <dd class="info">
                                <p>您的包裹已由物流公司揽收</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>2020-09-08 12 : 09 : 08</dt>
                            <dd class="line"><span class="spot"></span></dd>
                            <dd class="info">
                                <p>包裹正在等待揽收</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>2020-09-08 12 : 09 : 08</dt>
                            <dd class="line"><span class="spot"></span></dd>
                            <dd class="info">
                                <p>商品已经下单</p>
                            </dd>
                        </dl>
                    </div>
                    <div class="trackright">
                        <ul>
                            <li>
                                <div class="imgbox"><img src="images/banner1.png" alt=""></div>
                                <div class="namebox">商品大金瓶24K纳米黄金嫩肤精华液100</div>
                                <div class="numbox">x 1</div>
                            </li>
                            <li>
                                <div class="imgbox"><img src="images/banner1.png" alt=""></div>
                                <div class="namebox">商品大金瓶24K纳米黄金嫩肤精华液100</div>
                                <div class="numbox">x 1</div>
                            </li>
                            <li>
                                <div class="imgbox"><img src="images/banner1.png" alt=""></div>
                                <div class="namebox">商品大金瓶24K纳米黄金嫩肤精华液100</div>
                                <div class="numbox">x 1</div>
                            </li>
                            <li>
                                <div class="imgbox"><img src="images/banner1.png" alt=""></div>
                                <div class="namebox">商品大金瓶24K纳米黄金嫩肤精华液100</div>
                                <div class="numbox">x 1</div>
                            </li>
                            <li>
                                <div class="imgbox"><img src="images/banner1.png" alt=""></div>
                                <div class="namebox">商品大金瓶24K纳米黄金嫩肤精华液100</div>
                                <div class="numbox">x 1</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

